doctype html
html
  head
    title= title
    meta(name='description', content='Test')
    meta(name='author', content='MercadoLibre')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/css/desktop.css')
    //- font de mercadolibre
    link(rel="stylesheet", type="text/css", href="/fonts/fonts.min.css")
    script(type='text/javascript', src="/javascript/convertNumber.js")
  body
    block content
